# Hola &#x1F600;

Soy **Hesus Garcia**, revisor de código de Triple Ten, y voy a examinar el proyecto que has desarrollado recientemente. Si encuentro algún error, te lo señalaré para que lo corrijas, ya que mi objetivo es ayudarte a prepararte para un ambiente de trabajo real, donde el líder de tu equipo actuaría de la misma manera. Si no puedes solucionar el problema, te proporcionaré más información en la próxima oportunidad. Cuando encuentres un comentario,  **por favor, no los muevas, no los modifiques ni los borres**. 
**Una gran disculpa por el retraso en la revisión de tu proyecto. Hemos tenido una carga de proyectos que nos sobrepasó**
Revisaré cuidadosamente todas las implementaciones que has realizado para cumplir con los requisitos y te proporcionaré mis comentarios de la siguiente manera:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=“tocSkip”></a>
Si todo está perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=“tocSkip”></a>
Si tu código está bien pero se puede mejorar o hay algún detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=“tocSkip”></a>
Si de pronto hace falta algo o existe algún problema con tu código o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=“tocSkip”></a>
</div>

Hola Hesus ya puse el codigo asi como lo mencionas en el comentario, respecto a la presentacion esta raro, ya que la carpeta en donde lo meti en mi Drive esta abierto para el publico, y si me comento que si vio la primera hoja de la presentacion entonces si pudo entrar conrrectamente, no se si por temas de intermitencia en internet o algo asi no le cargo lo demas pero si ya vio la primera hoja no debería de haber tema.

Pero aún asi lo volvi a cargar esta en PDF

</br>

**¡Empecemos!**  &#x1F680;

1. Introducción
Objetivo del Proyecto: Pronosticar la tasa de cancelación de clientes de Interconnect utilizando datos sobre contratos, servicios y datos personales. El objetivo es identificar clientes con alta probabilidad de cancelación y ofrecerles promociones para retenerlos.
Justificación: Mejorar la retención de clientes mediante un sistema predictivo puede aumentar la satisfacción del cliente y los ingresos de la empresa.

2. Planificación
Requisitos:\\
Herramientas de análisis de datos (Python, pandas, scikit-learn, etc.).\\
Acceso a los archivos CSV (contract.csv, personal.csv, internet.csv, phone.csv).\\
Cronograma:\\
Horas 1-2: Revisión y preparación de datos.\\
Horas 3-4: Análisis exploratorio y desarrollo de características.\\
Horas 5-6: Construcción y evaluación del modelo predictivo.\\
Horas 7: Ajuste del modelo y validación final.\\
Horas 8: Documentación y presentación de resultados.\\

3. Metodología
Enfoque y Técnicas:

Preparación de Datos: Limpieza de datos, manejo de valores faltantes, normalización.
se usarán los métodos info y describe de la librería pandas
Análisis Exploratorio: Estadísticas descriptivas, visualización de datos para entender las relaciones y patrones.

Comenzando por contract:

Vemos cómo hay columnas que se pueden cambiar a datetime (begindate y enddate) ademas esas 2 columnas se pueden operar para acer una tercer columna de duración total. (hay que tener cuidado con el "no" en enddate. Además podemos cambiar total charges a float y usar seaborn para plotear histogramas de los cargos mensuales y totales.

Siguiente vamos con personal:

Vemos como hay 3 columnas categoricas que podemos hace onehotencoding para gender partner y dependents. se pueden buscar correlaciones con seniorcitizens. si se llegara a juntar con el contract sería a través del customerId

Ahora con internet:

Vemos que todas las columnas necesitarían ser codificadas, parece que todas tienen solo 2 valores por lo que se puede hacer binario. vamos que no todos pueden tener internet así que hay que tomarlo en cuenta al juntar este df con otros. 

Por último es phone:

también se ve que no todos tienen teléfono. y una columna se puede codificar

Desarrollo de Características: Creación de variables adicionales basadas en los datos existentes.

Modelado Predictivo: Selección y entrenamiento de modelos de machine learning.

Herramientas:
Python, pandas, scikit-learn, matplotlib, seaborn.

4. Fases del Proyecto
Fase 1: Revisión y Preparación de Datos

Tareas: Cargar y explorar los archivos CSV, realizar limpieza de datos, y realizar un análisis preliminar.
Entregables: Datos limpios y preparados para análisis.

Fase 2: Análisis Exploratorio de Datos (EDA)

Tareas: Realizar análisis estadísticos y visualizaciones para comprender los patrones y correlaciones en los datos.
Entregables: Reporte de análisis exploratorio, gráficos y visualizaciones.

Fase 3: Desarrollo de Características

Tareas: Crear nuevas características y transformar datos para el modelado.
Entregables: Conjunto de datos enriquecido listo para el modelado.

Fase 4: Modelado Predictivo

Tareas: Seleccionar y entrenar modelos de machine learning, ajustar hiperparámetros, y evaluar el rendimiento de los modelos.
Entregables: Modelos entrenados y resultados de evaluación.

Fase 5: Ajuste y Validación

Tareas: Realizar ajustes finales en el modelo, validación cruzada y pruebas adicionales.
Entregables: Modelo final validado y resultados definitivos.

Fase 6: Documentación y Presentación

Tareas: Documentar el proceso.
Entregables: Documentación del proyecto, presentación de resultados.

5. Evaluación
Evaluación: Revisar el desempeño del modelo, analizar si cumple con los objetivos del proyecto.

6. Conclusiones
Resumen: Resumir los hallazgos clave y el impacto del modelo predictivo en la retención de clientes.

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b>
Estimado Francisc,
Gracias por compartir tu plan de proyecto. Has establecido una estructura básica que aborda los puntos principales del análisis. Sin embargo, el plan actual es muy general y carece de detalles específicos. Notablemente, no has incluido ningún código para cargar o explorar los datos, lo cual es un paso crucial antes de desarrollar un plan detallado.
Para mejorar significativamente tu enfoque, te animo a seguir estos pasos:

Comienza por cargar los datos utilizando pandas:
import pandas as pd
df = pd.read_csv('nombre_del_archivo.csv')

Explora los datos con funciones básicas:
df.info()
df.head()
df.describe()

Una vez que hayas examinado los datos, podrás desarrollar un plan más detallado y específico para tu análisis.

Recuerda, un buen plan de proyecto se basa en una comprensión sólida de los datos con los que estás trabajando. Al explorar los datos primero, podrás identificar desafíos específicos y oportunidades que informarán tu estrategia de análisis.
¡Estoy seguro de que con estos pasos adicionales, podrás crear un plan de proyecto mucho más robusto y efectivo! No dudes en presentar una versión actualizada de tu plan una vez que hayas explorado los datos.
</div>

In [1]:
import pandas as pd

In [2]:
contract = pd.read_csv('final_provider/contract.csv')
personal = pd.read_csv('final_provider/personal.csv')
internet = pd.read_csv('final_provider/internet.csv')
phone = pd.read_csv('final_provider/phone.csv')

In [3]:
contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [4]:
contract.sample(10)

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
285,6202-DYYFX,2018-04-01,No,One year,Yes,Credit card (automatic),76.00,1783.6
1957,5619-PTMIK,2016-04-01,No,Month-to-month,No,Electronic check,53.10,2459.8
881,3523-BRGUW,2017-12-01,No,One year,No,Credit card (automatic),19.30,504.2
2593,0962-CQPWQ,2014-12-01,No,Two year,No,Bank transfer (automatic),20.30,1296.15
5695,1813-JYWTO,2014-02-01,No,Two year,No,Bank transfer (automatic),80.45,5737.6
2769,5577-OTWWW,2018-09-01,2019-12-01 00:00:00,Month-to-month,No,Bank transfer (automatic),19.75,297.3
4980,8595-SIZNC,2018-04-01,No,One year,No,Bank transfer (automatic),25.60,548.8
4378,6980-CDGFC,2014-07-01,No,One year,Yes,Bank transfer (automatic),20.85,1327.4
5085,7074-STDCN,2016-11-01,No,Month-to-month,Yes,Electronic check,40.60,1494.5
3989,7634-WSWDB,2019-06-01,No,Month-to-month,Yes,Electronic check,38.50,330.8

In [5]:
contract.describe()

       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

Podemos ver por el método info() que no hay valores nulos pero vemos en la columna enddate que tiene valores "No" por lo que hay que manejarlos con cuidado

In [6]:
personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [7]:
personal.describe()

       SeniorCitizen
count    7043.000000
mean        0.162147
std         0.368612
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [8]:
personal.sample(10)

      customerID  gender  SeniorCitizen Partner Dependents
2497  5702-SKUOB  Female              0     Yes         No
3325  0697-ZMSWS    Male              0      No         No
2304  8402-EIVQS    Male              0     Yes         No
2728  6402-SSEJG  Female              0      No         No
6338  2081-KJSQF    Male              0      No         No
727   6786-OBWQR  Female              0     Yes        Yes
361   5229-DTFYB  Female              0      No         No
3829  8374-XGEJJ    Male              1     Yes         No
4797  3892-NXAZG    Male              0     Yes        Yes
3055  0617-FHSGK    Male              0      No        Yes

no hay nulos

In [9]:
internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [10]:
internet.describe()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
count,5517,5517,5517,5517,5517,5517,5517,5517
unique,5517,2,2,2,2,2,2,2
top,7590-VHVEG,Fiber optic,No,No,No,No,No,No
freq,1,3096,3498,3088,3095,3473,2810,2785

In [11]:
internet.sample(10)

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
3840,3420-YJLQT,Fiber optic,No,Yes,No,No,No,No
4870,8878-HMWBV,DSL,No,No,Yes,No,No,No
988,5835-BEQEU,Fiber optic,No,No,No,No,No,No
3304,5457-COLHT,DSL,Yes,Yes,No,Yes,Yes,Yes
4967,6856-RAURS,Fiber optic,No,No,No,No,No,No
4726,3920-HIHMQ,DSL,No,No,No,No,No,No
774,9117-SHLZX,DSL,No,No,No,No,No,No
2358,5857-TYBCJ,Fiber optic,No,No,Yes,No,Yes,No
337,0578-SKVMF,Fiber optic,No,Yes,No,No,No,Yes
525,2391-IPLOP,DSL,No,No,Yes,Yes,Yes,No

No hay datos faltantes

In [12]:
phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [13]:
phone.describe()

        customerID MultipleLines
count         6361          6361
unique        6361             2
top     5575-GNVDE            No
freq             1          3390

In [14]:
phone.sample(10)

      customerID MultipleLines
501   1154-HYWWO            No
5075  4508-OEBEY            No
1082  8221-HVAYI           Yes
3901  1131-ALZWV           Yes
3579  8849-PRIQJ           Yes
1857  8100-HZZLJ            No
5604  3413-CSSTH           Yes
1143  5529-GIBVH            No
6067  3545-CNWRG           Yes
2611  2004-OCQXK            No